---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

Welcome to my project portfolio! While some of the work I've done during past roles—such as internships or professional experiences—cannot be shared publicly due to confidentiality, I'm continuously working on new projects to explore and showcase different areas of AI, NLP, LLMs, ML, DL, and IoT.

This space is a growing collection of experiments, learning journeys, and applied ideas—reflecting both what I know and what I'm excited to keep learning. Thanks for stopping by!

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

